//getting sass to watch the file
//open cmd
//cd documents\GitHub\sass-conversion
//sass --watch sass\main.scss:main.css

//sass --watch sass:css

// main SASS file
@import "sass-partials/variables";
@import "sass-partials/mixins";
@import "sass-partials/queries";
@import "sass-partials/nav";
@import "sass-partials/footer";

/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
  font-family: 'Josefin Sans', 'Trebuchet MS’, Helvetica, sans-serif;
  /* default for whole page */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: Cardo, 'Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/***********************************************
                LAYOUT
***********************************************/

.bg-header {
  background-color: #fff;
  background-color: #C7F7FF;
  color: #222;
  border-bottom: 1rem solid #89C0C9;
  border-top: 1rem solid #3a5E63;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: #3a5E63;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.bg-focal {
  background-color: #C9A689;
  color: #7C593C;
}

.bg-content1 {
  background-color: #fff;
  color: #222;
}

.bg-content2 {
  background-color: #C7F7FF;
  color: #3a5E63;
}

.bg-footer {
  background-color: #fff;
  color: #d4d4d4;
}

header {
  width: 400px;
  /* default */
  margin: 0 auto;
  position: relative;
  h1 {
    width: 100%;
    padding: 0 2rem;
  }
  nav {
    width: 100%;
    > ul li {
      width: 100%;
      float: none;
    }
  }
}

section {
  &.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
  }
  &.content1, &.content2 {
    padding: 2rem 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
  padding-bottom: 2rem;
  border-left: 1px solid #3a5E63;
  margin-bottom: 2rem;
}

footer {
  .col-2:first-child {
    border-left: 0;
  }
  padding: 2rem 0;
  p:last-child {}
}


/***********************************************
                CONTENT
***********************************************/

.focal {
  h2 {
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
  }
  .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
  }
}

.content1 {
  h3 {
    font-size: 1.999rem;
    padding: 0.2rem 2rem 2rem;
    i {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
  }
}

.content2 {
  h3 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
  }
  h4 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem;
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem;
  }
  li {
    padding: 0.5rem 2rem;
    font-size: 1.414rem;
  }
}





