//getting sass to watch the file
//open cmd ruby
//cd documents\GitHub\sass-conversion
//sass --watch sass\main.scss:main.css

//sass --watch sass:css

$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3a5E63;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-grey: #d4d4d4;
$dark-grey: #222;

$sans-fonts: 'Josefin Sans', 'Trebuchet MS’, Helvetica, sans-serif;
$serif-fonts: 'Cardo', 'Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
